.l{
  animation: icofont-spin 2s infinite linear;
}

@keyframes icofont-spin{
  from{
      transform: rotate(0deg)
  }to{
      transform: rotate(360deg)
  }
}
body{
  background-color: #110f0f;
  max-width: 100%;
}

label.switch,
label.switch2,
label.switch3,
label.switch4{
  width: 36px;
  height: 19.89px;
  background-color: #b5b5b5b5;/* #B5B5B5;*/
  display: flex;
  align-items: center;
  padding-left: 2.5px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  transition: background-color 300ms ease;
}
label.switch input,
label.switch2 input,
label.switch3 input,
label.switch4 input{
  position: absolute;
  left: 0;
  top: -20px;
  opacity: 0;
}
label.switch input:checked + span.control-label,
label.switch2 input:checked + span.control-label2,
label.switch3 input:checked + span.control-label3,
label.switch4 input:checked + span.control-label4{
  margin-left: 1.1rem;
}
label.switch span.control-label,
label.switch2 span.control-label2,
label.switch3 span.control-label3,
label.switch4 span.control-label4{
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: margin-left 300ms ease;
}
.switch-on{
  background-color: #23d160 !important;
  box-shadow: 1px 1px 2px #23d160;
}





.control-button{
  border-radius: 2em;
  margin: .4em 0;
  padding: .5em 1em;
  background: #161616b2;
  font-size: 14px;
  transition: all .27s ease-in 0s;
  outline: 0;
  border: 0;
  color: #5e5e5e;
  cursor: not-allowed;
}
.control-button:hover{
  background: #16161657 !important;
}
.select-zone{
  width: 120px;
  position: fixed;
  left: 90px;
  top: 12px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 0 0;
  color: #ffffff;
  cursor: pointer;
  background-color: #363636;
}

.app-name-wrapper{
  width: calc(100% - (300px + .30rem)*2);
  margin-left: calc(300px + .3rem);
  margin-right: calc(300px + .3rem);
  margin-top: 24px;
}


.loader-wrapper{
  width: calc(100% - (300px + .30rem)*2);
  height: 73vh;
  background: #000000ea;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: calc(300px + .3rem);
  margin-right: calc(300px + .3rem);
}
.live-indicator{
  position: absolute;
  right: 26px;
  top: 24px;
  display: flex;
  align-items: center;
  font-family: 'Open sans';
  color: #111111;
  font-size: 12.75px;
  font-weight: 700;
  animation: fade-in-out2 450ms infinite linear;
}
.live-indicator span{
  color: #c0000094;
  font-size: 24px;
  margin-right: 4px;
}
@keyframes fade-in-out2{
  0%{
      color: #111111;
  }50%{
      color: #b5b5b57c;
  }100%{
      color: #111111;
  }
}
.loader{
  font-size: 32px;
  color: #b5b5b5b5;
  width: 24px;
  height: 24px;
  /* background-color: #ffffffff; */
  border-radius: 24px;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  animation: spin-loader 3s infinite linear;
  display: block;
}
@keyframes spin-loader{
  0%{
      color: #b5b5b5b5;
      transform: rotate(0);
  }100%{
      color: #b5b5b5b5;
      transform: rotate(360deg)
  }
}
.loader-text{
  font-family: 'Open sans';
  font-size: 12.5px;
  color: #b5b5b5b5;
  animation: fade-in-out 2s infinite linear;
  margin: 12px;
}
@keyframes fade-in-out{
  0%{
      color: #b5b5b5b5;
  }50%{
      color: #b5b5b57c;
  }100%{
      color: #b5b5b5b5;
  }
}








.app-name{
  font-size: 32px;
  font-family: 'Ubuntu';
  margin: 0;
  margin-left: 24px;
  background: linear-gradient(to bottom right,#ffcd41,#ff4a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300!important;
}
.app-name + h6{
  font-size: 14.5px;
  font-family: 'Ubuntu';
  margin: 0;
  margin-left: 24px;
  background: linear-gradient(to bottom right,#999999,#ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700!important;
}
.stream-details{
  position: absolute;
  bottom: 10px;
  left: 24px;
  color: #999999;
  background-color: #000000;
  padding: 4px 12px;
}
.stream-decoration{
  width: 88%;
  height: 50vh;
  border: 1px solid #afafaf;
  position: absolute;
  top: 55px;
}
.vr-decoration-bottom{
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20px;
  border-right: 2px solid #afafaf;
}
.vr-decoration-top{
  position: absolute;
  top: 0;
  width: 50%;
  height: 20px;
  border-right: 2px solid #afafaf;
}
.hr-decoration-left{
  position: absolute;
  left: 0;
  width: 20px;
  top: 50%;
  border-top: 2px solid #afafaf;
}
.hr-decoration-right{
  position: absolute;
  right: 0;
  width: 20px;
  top: 50%;
  border-top: 2px solid #afafaf;
}
.stream-details h6{
  margin: 0 0 2px 0;
  font-family: 'Open sans';
  font-weight: 500;
  font-size: 14px;
  color: #f2f2f2;
}
.stream-details p{
  margin: 0 0 2px 0;
  font-family: 'Open sans';
  font-weight: 700;
  font-size: 12.5px;
  color: #6b6b6b;
}
.app-status{
  background-color: #23d160;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  display: inline-block;
  margin-left: 2px;
}





.input-group{
  position: relative;
  margin-top: 24px;
  margin-bottom: 16px;
  width: calc(100% - 3rem);
  margin-left: 8px;
  height: 45px;
  display: flex;
  align-items: center;
}
.input-control{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 42px;
  border: 1.5px dashed #b5b5b5b5;
  border-radius: 24px;
  padding-left: 16px;
  font-size: 15.5px;
  font-family: 'Open sans';
  background-color: rgba(17, 15, 15, 0.295);
  color: #bbbbbb;
  z-index: 2;
  /* background-color: #000000e1; */
}
.input-control:focus{
  outline: none;
}
.input-group span.placeholder{
  position: absolute;
  left: 16px;
  top: 12.5px;
  font-family: 'Open sans';
  font-size: 14px;
  color: #f2f2f2;
  transition: all 500ms ease;
  background-color: #131212;
  z-index: 1;
}
.input-control:focus + span.placeholder{
  position: absolute;
  left: 16px;
  top: -12px;
  font-family: 'Open sans';
  font-size: 14px;
  padding: 2px 12px;
  z-index: 3;
  background-color: rgba(17, 15, 15, 0.989);
}
.slide-up{
  color: red;
}


.left-sidebar{
  position: fixed;
  left: .7em;
  top: .7em;
  bottom: .7em;
  float: left;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  z-index: 1000;
  background: #0A0A0A;
  width: 300px;
  height: calc(100% - 1.4em);
  border-top: 5px solid #ffcd41;
  border-radius: 24px 24px;
  /* padding-bottom: 36px; */
}
.right-sidebar{
  position: fixed;
  right: .7em;
  top: .7em;
  bottom: .7em;
  float: left;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  z-index: 1000;
  background: #0A0A0A;
  width: 300px;
  height: calc(100% - 1.4em);
  border-top: 5px solid #ffcd41;
  border-radius: 24px 24px;
  /* padding-bottom: 36px; */
}
.sidebar-title{
  color: #ffcd41;
  font-family: 'Open sans';
  font-size: 18px;
  margin-left: 36px;
  margin-top: 48px;
  margin-bottom: 48px;
  font-weight: 500;
}
.envision-sidebar-card{
  width: 78%;
  min-height: 15vh;
  color: #ffffff;
  display: flex;
  margin: auto;
  margin-top: 4px;
  padding-top: 16px;
  border-bottom: 2px dotted #3b3b3bb5;
}
.no-pt{
  padding-top: 0px;
}
.envision-sidebar-card hr{
  border: 1px dotted #3b3b3bb5;
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 80%;
}
.card-badge{
  width: 59px;
  height: 56px;
  background-color: #7159fe;/*#ff4a00;*/
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.danger-bg{
  background-color: #e47144 !important;
}
.info-bg{
  background-color: #ebb92f;
}
.secondary-bg{
  background-color: #23d160;
}
.secondary-text{
  color: #23d160;
}
.card-text{
  padding-bottom: 16px
}
.card-text h5{
  font-size: 14px;
  font-family: 'Open sans';
  margin-left: 12px;
  margin-top: 14px;
  margin-bottom: 2px;
}
.card-text h6{
  font-size: 13px;
  font-family: 'Open sans';
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: 2px;
  color: #919191
}
.card-text p{
  font-size: 15px;
  font-family: 'Open sans';
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.card-text p span{
  font-size: 8px;
}
.card-text h5 span{
  font-weight: 300;
}
.card-text button{
  margin-left: 8px;
}
.card-text label{
  margin-left: 8px;
  margin-top: 4px;
}
#video-feed{
  position: absolute;
}



#snackbar {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: 'Open sans';
  font-size: 14.5px;
  border-radius: 2px;
  padding: 16px;
  position: fixed; 
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}






/* Sm screen styles */
@media screen and (max-width: 1000px){
    .left-sidebar,
    .right-sidebar{
        display: none;
    }
    .loader-wrapper{
        /* margin-left: .3rem; */
        margin: auto;
        width: calc(100% - 100px - 1.4rem)
    }
    .app-name-wrapper{
      width: 100%;
      margin: 0;
      margin-top: 24px;
    }
    .menu-icon{
      display: block !important;
    }
}

@media screen and (max-width: 444px){
  .loader-wrapper{
    margin: auto;
    width: calc(100% - 1.4rem)
  }
  .menu-icon{
    display: block !important;
  }
}
.menu-icon{
  position: absolute;
  right: 24px;
  top: 24px;
  color: #FFFFFF;
  font-size: 28px;
  display: none;
}
.right-sidebar-container{
  display: flex;
  width: 100%;
  justify-content: center;
}
.showbar{
  display: block;
  margin-right: 5.5%;
  position: absolute;
  animation: slidein 300ms linear;
}
@keyframes slidein{
  from{
    margin-right: 0;
  }to{
    margin-right: 5.5%;
  }
}
.toggle-overlay{
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3b4;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  animation: slidein2 700ms linear;
}
@keyframes slidein2{
  from{
    background-color: #fff;
  }to{
    background-color: #f3f3f3b4;
  }
}